
<section class="stats shadow mx-5">
  <div class="stat">
    <div class="stat-figure text-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Population</div>
    <div class="stat-value text-primary">{{ country().population | number}}</div>
    <div class="stat-desc">From {{ currentYear() }}</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 10V3L4 14h7v7l9-11h-7z"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Name</div>
    <div class="stat-value text-secondary">{{ country().name }}</div>
    <div class="stat-desc">{{ country().region}}</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <div class="avatar avatar-online">
        <!-- <div class="w-16 rounded-full">
          <img src="https://img.daisyui.com/images/profile/demo/anakeen@192.webp" />
        </div> -->
      </div>
    </div>
    <div class="stat-value">Sub region</div>
    <div class="stat-title">{{ country().subregion }}</div>
    <div class="stat-desc text-secondary">{{ country().region }}</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <div class="avatar">
        <div class="w-16 rounded-full">
          <img [src]="country().flagSvg" />
        </div>
      </div>
    </div>
    <div class="stat-value">Flag</div>
    <div class="stat-title">{{ country().flag }}</div>
    <div class="stat-desc text-secondary">{{ country().subregion }}</div>
  </div>
</section>

<section class="diff aspect-video" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-item-2" role="img">
    <img
      class="blur brightness-75"
      [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-resizer"></div>
</section>
