
<h3>Listado principal</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index ) {
        @if (character.age >= 14) {
          <li>
            <span>
              {{idx + 1}} - {{ character.name }}
            </span>


          <!--
              [ngClass]="ageClassess()"-->
            <strong
              [class.text-danger]="character.age == 14"
              [class.text-info]="character.age > 14"
              >
              ({{ character.age }})
            </strong>
          </li>
        }
        @else {
          <li>
            <strong>{{idx + 1}} - No cumple</strong>
          </li>
        }
      }
    </ul>
